
.blur-covid {
    background: rgba(48, 0, 0, 0.2);
    backdrop-filter: blur(8px); 
    height: 80vh;
    color: white;
    padding:1rem;
  }

  #covid {
    background-image:url('../../assets/images/covid.jpg'); 
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
  }